.content {
    max-width: 1700px;
    margin-left: 20px;
    margin-right: 10px;
    line-height: 1.7;
}

.lesya {
    width: 600px;
}
.lina {
    width: 600px;
    height: 360px;
}

.mark-list {
    list-style-type: square;
}
.line {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
}
li{
    list-style-type: none;
}

ul{
    padding: 0px;
}


h5 {
  color: #ffffff;
}
